html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  display: flex;
  justify-content: center;
}

.robot {
  width: 320px;
  display: flex;
  position: relative;
  margin-top: 55px;
  flex-basis: content;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  right: 140px;
}

.robot-head-right {
  right: 35px;
  top: -40px;
  width: 125px;
  position: absolute;
}

.robot-head-left {
  left: 35px;
  top: -40px;
  width: 125px;
  position: absolute;
}

.robot:hover > .robot-brain {
  right: 140px;
  top: -20px;
}

.robot:hover > .robot-head-right {
  right: 5px;
  top: -50px;
}

.robot:hover > .robot-head-left {
  left: 5px;
  top: -50px;
}
